
h2, h3, h4, input, button, a, p, label, div{
  font-family: 'lora';
}

h1 {
  font-weight: 700;
  font-size: 4.5em;
  margin: 0;
  font-family: 'recoleta';
}

button, input[type="text"]:focus, input[type="text"] {
  outline: none;
  border-style:solid;
  border: none;
  outline: none;
  box-shadow: none;
}

button {
  border: 2px solid #151843;
  color: #151843;
  border-radius: 2em;
  width: 8.5em;
  height: 2.5em;
  background-color: rgba(0, 0, 0, 0);
  margin: 1em;
}

button:hover {
  color: white;
  background-color: #151843;
}

input {
  width: 15em;
  height: 3em;
  padding-left: 1em;
  margin-top: 2em;
}

#map {
  height: 300px;
  width: 100%;
}

#not-valid-user {
  color: #050611;
  background-color: rgba(255, 255, 255, .7);
  padding: .5em;
  display: none;
}

/* Login/Sign-up Page Styles */

#login-overall-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#login-button-div {
  display: flex;
  justify-content: center;

}

#header-container,
#new-user-overall-container,
#user-profile-overall-container,
#landing-dashboard-overall-container,
#add-recipe-overall-container,
#add-event-page{
  display: none;
}

#header-container {
  height: 15vh;
}

#main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #151843;
  background-image: url('./assets/IMG/background3.png');
  background-size: cover;
  padding-top: 5em;
}

/* header */
#header-flex-container {
  display: flex !important;
  align-items: center;
  height: 100%;
}

#header-flex-container h1 {
  font-size: 3em;
  margin: 1em 2em;
}

#white-space{
  width: 45%;
}

/* new user */
#new-user-flex {
  height: 100vh;
  display: flex !important;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  background-color: #ff605f;
}

#new-user-flex button {
  margin: 2em .5em 0 .5em;
  color: #929191;
  border: 2px solid #929191;
}

#new-user-flex button:hover {
  background-color: #dfdfdf;
  color: #050611;
  border: 2px solid #050611;
}

#new-user-flex input {
  width: 100%;
}

#new-user-form {
  padding: 2em;
  width: 40%;
  background-color: #dfdfdf;
}

/* user profile */

#user-profile-flex {
  min-height: 85vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff605f;
}

#user-profile-bg {
  width: 51vw;
  max-height: 60vh;
  padding: 2em;
  background-color: #fefefe;
  overflow: scroll;
  overflow-x: hidden;
}

/* #user-profile-white-bg {
  width: 100%;
  background-color: white;
  /* height: 15em; */
  /* padding: 1em 1em 1em 1em;
} */ 

#user-profile-flex button {
  margin: 2em .5em 0 .5em;
  color: #929191;
  border: 2px solid #929191;
  margin: 3em 0 1em 0;
  margin: .5em;
}

#user-profile-flex button:hover {
  background-color: white;
  color: #050611;
  border: 2px solid #050611;
}

/* add event */

#add-event-flex-container {
  height: 85vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff605f;
  padding: 1em
}

#add-event-flex-container button {
  /* margin: 2em .5em 0 .5em; */
  color: #050611;
  border: 2px solid #050611;
  margin: 3em 1em 0;
}

#add-event-flex-container button:hover {
  background-color: #ff605f;
  color: #fefefe;
  border: 2px solid #fefefe;
}

#add-event-flex-container input {
  margin: .5em;
}

/* dashboard */
#landing-dashboard-grid {
  height: 85vh;
  width: 100vw;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3em;
  padding-top: 2em;
  padding: 3em;
  background-color: #ff605f;
}

#landing-dashboard-grid div {
  background-color: white;
}


#landing-dashboard-grid h4 {
  text-align: center;
}

#all-users-container{
  grid-template-columns: 1;
  padding: 1em;
}

#all-events-container{
  grid-template-columns: 2;
  padding: 1em;
}

#your-events {
  grid-template-columns: 3;
  padding: 2em;
}

/* add recipe */

#add-recipe-flex {
  height: 85vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff605f;
}

#add-recipe-flex input{
  margin: .5em;
}

#add-recipe-flex form{
  padding: 2em;
  width: 70%;
  background-color: #fefefe;
}

