/* General element styling */
button {
  border: 1px solid black;
  color: black !important;

}

#not-valid-user {
  color: red;
  display: none;
}

/* Login/Sign-up Page Styles */

#login-overall-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

#header-container,
#new-user-overall-container,
#user-profile-overall-container,
#landing-dashboard-overall-container,
#add-recipe-overall-container,
#add-event-page{
  display: none;
}